{% extends 'index/base.html' %} 
{% load static %} 
{% block head %}
<script src="{% static 'index/interactive.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js" integrity="sha512-UcDEnmFoMh0dYHu0wGsf5SKB7z7i5j3GuXHCnb3i4s44hfctoLihr896bxM0zL7jGkcHQXXrJsFIL62ehtd6yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
<script>
  set_navbar_active("#nav-comparative")

  function id2target(string,target){
    return string.replace(/(#)([^'" ]*)/gm,"$1"+target.replace("#","")+"$2")
  }

  function load_column_filtering(target){
    $.ajax({
      url: '/filtering?id={{event_log.id}}',
      success: function(html) {
        var content = $('<div />').html(html).find('#content');
        $(target+"-column-filtering").html(content);
        var id = content.find('[name="id"]').attr("value")
        register_oc_table(target)
        register_histogram(target+"-column-filtering",id)
        $(target).find('#column-filter').submit(function(e){
          e.preventDefault();
          loading_show(target,"#btn-submit")
          $.ajax({
            url: e.target.action,
            type: 'post',
            data:$(target).find('#column-filter').serialize(),
            success:function(response){
              load_row_filtering(response,target)
              loading_hide(target,"#btn-submit")
              $(".div-column-filtering").parent().collapse("hide")
            }
          });
        });
      }
    });
  }

  function load_row_filtering(html,target){
    var content = $('<div />').html(html).find('#content');
    var id = content.find('[name="id"]').attr("value");
    $(target+"-row-filtering").html(content);
    $(".div-row-filtering").parent().collapse("show")
    register_cell_table(target,id)
    $(target).find('#cell-filter').submit(function(e){
      e.preventDefault();
      loading_show(target,"#btn-create-cell")
      $.ajax({
        url: e.target.action,
        type: 'post',
        data:$(target).find('#cell-filter').serialize(),
        success:function(response){
          load_visualization(response,target)
          loading_hide(target,"#btn-create-cell")
          $(".div-row-filtering").parent().collapse("hide")
        }
      });
    });
  }

  function load_visualization(html,target){
    var content = $('<div />').html(html).find('#content');
    var id = content.find('[name="id"]').attr("value")
    $(target+"-visualization").html(content);
    $(".div-visualization").parent().collapse("show")
    register_vis_buttons(target,id,target.substring(1)+"-dfg.png")
    register_petri_buttons(target,id,target.substring(1)+"-petri.svg")
    register_histogram(target+"-visualization",id)
    $(target+"-visualization form").attr("action","/visualize")
  }
</script>
<script>
  $( document ).ready(function() {
    //$("#left-content").load("/filtering?id={{event_log.id}} #content");
    load_column_filtering("#left-content")
    load_column_filtering("#right-content")
});
</script>
<script>
  $( document ).ready(function() {
    window.jsPDF = window.jspdf.jsPDF;
    $("#btn-pdf").on('click',function () { 
      window.print()
    });
});
  
</script>
{% endblock head %}

{% block content %}
<div class="container-fluid" >
  <div class="row">
<div class="col" id="left-content" style="width:50%">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#left-panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="left-panelsStayOpen-collapseOne">
          Column Filtering
        </button>
      </h2>
      <div id="left-panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="left-panelsStayOpen-headingOne">
        <div class="accordion-body div-column-filtering" id="left-content-column-filtering">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="left-panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#left-panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="left-panelsStayOpen-collapseTwo">
          Row Filtering
        </button>
      </h2>
      <div id="left-panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="left-panelsStayOpen-headingTwo">
        <div class="accordion-body div-row-filtering" id="left-content-row-filtering">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="left-panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#left-panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="left-panelsStayOpen-collapseThree">
          Visualization
        </button>
      </h2>
      <div id="left-panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="left-panelsStayOpen-headingThree">
        <div class="accordion-body div-visualization" id="left-content-visualization">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col" id="right-content" style="width:50%">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="right-panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#right-panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="left-panelsStayOpen-collapseOne">
          Column Filtering
        </button>
      </h2>
      <div id="right-panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="right-panelsStayOpen-headingOne">
        <div class="accordion-body div-column-filtering" id="right-content-column-filtering">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="right-panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#right-panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="left-panelsStayOpen-collapseTwo">
          Row Filtering
        </button>
      </h2>
      <div id="right-panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="right-panelsStayOpen-headingTwo">
        <div class="accordion-body div-row-filtering" id="right-content-row-filtering">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="right-panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#right-panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="left-panelsStayOpen-collapseThree">
          Visualization
        </button>
      </h2>
      <div id="right-panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="right-panelsStayOpen-headingThree">
        <div class="accordion-body div-visualization" id="right-content-visualization">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col d-flex justify-content-center">
<button
  style="float: right; margin-top: 10px"
  type="button"
  class="btn btn-info"
  value="Download"
  name="downloadButton"
  id="btn-pdf">
  Export page as PDF
</button>
</div>
</div>
</div>
{% endblock content %}