{% extends 'index/base.html' %}
{% load static %}

<!DOCTYPE html>
<meta charset="utf-8" />
{% block head %}
<script src="{% static 'index/interactive.js' %}"></script>
<script>
  register_cell_table("",{{event_log.id}})
</script>

<style>
  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .flex-container > div {
    
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  </style>

{% endblock %}

{% block content  %}

<br/>
<div class="flex-container" style="justify-content: left;">
  <p><h4>Some summary statistics for the filtered log are provided below to compare with the original log:-</h4></p>
  <br/>
  <br/>
  <p><h6>1. The filtered log contains <b>{{num_events}}</b> events and <b>{{num_objects}} objects</b>.</h6></p>
  <p><h6>2. The filtered log is based on the attributes: {{selected_filters|join:","}} selections.</h6></p>
  {% comment %}
    <ul class="list-group list-group-horizontal-xxl">
      <li class="list-group-item">The original log contains {{num_events}} events.</li>
      <li class="list-group-item">The filtered log is based on the attributes: {{selected_filters|join:","}} selections.</li>
    </ul>
  {% endcomment %}
</div>

<br/>
<br/>
<p><h4>Select further filtering options below:- </h4></p>

{% comment %} Making separate flex container for the second filtering {% endcomment %}

<div class="flex-container" style="justify-content: center;">  
  <div class="row">
  {% comment %} <div class="btn-group">
    <h5>Materialization: </h5>
    <button class="btn btn-success dropdown-toggle" type="submit" id="materialization" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
      Select
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item dropdown-item-action" href="#">Existence</a></li>
    </ul>
  </div> {% endcomment %}
  <div class="col">
  <select class="form-select form-select" name="materialization" id="materialization">
    <option value="existence">Existence</option>
  </select>
  </div>

    {% comment %} <div class="btn-group">
      <h5>Row: </h5>  
      <button class="btn btn-success dropdown-toggle" type="submit" id="row-select" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        {% for col in columns%}
          <li><a class="dropdown-item dropdown-item-action" href="#">{{col}}</a></li>
        {% endfor %}
      </ul>
    </div> {% endcomment %}
    <div class="col">
    <select class="form-select form-select" name="row-select" id="row-select">
    {% for col in columns%}
      <option value="{{col}}">{{col}}</option>
    {% endfor %}
    </select>
    </div>

    {% comment %} <div class="btn-group">
      <h5>Column: </h5> 
      <button class="btn btn-success dropdown-toggle" type="submit" id="column-select" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        {% for col in columns%}
          <li><a class="dropdown-item dropdown-item-action" href="#">{{col}}</a></li>
        {% endfor %}
      </ul>
    </div> {% endcomment %}
  <div class="col">
  <select class="form-select form-select" name="column-select" id="column-select">
  {% for col in columns%}
    <option value="{{col}}">{{col}}</option>
  {% endfor %}
  </select>
  </div>
</div>
</div>

{% comment %} <p>The log contains {{num_objects}} objects</p> {% endcomment %}
<form id="cell-filter" method="post" action="{% url 'visualize' %}">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{event_log.id}}" />
<div class="d-flex flex-column">
<div id="table">
</div>
<div>
<input type="text" name="name" value="{{event_log.name}}-cell" />
<button type="submit" class="btn btn-primary" id="btn-create-cell" disabled>Create Cell</button>
</div>
</div>
</form>
{% endblock %}
