{% extends 'index/base.html' %}


<!DOCTYPE html>
<meta charset="utf-8">

{% block head %}
<script>
  $(document).ready(function () {
    $(document).on('click',".attr_name",function () {
      event.preventDefault();
      $("#figure").load("http://127.0.0.1:8000/plots/"+$(this).attr("value")+"?type=event_log&id={{event_log.id}}");
    });
  });
</script>


{% endblock %}

<body>
  {% block content  %}

  <div>
  <span>The selected event log <b>{{event_log.name}}</b> contains a total of {{num_events}} events and {{num_objects}} objects</span>
  </div>

  <form method="post" action="{% url 'filter' %}">
  <input type="hidden" name="id" value="{{event_log.id}}">
  <div class="flex" style="margin-top: 1%;margin-left: 3%;margin-right: 3%;justify-content: center;">
        <div class="flex-vertical" style="flex-basis: {{ column_width }}%;">
        <h2>Event level attributes</h2>
        <table>
        <tr>
          <th/>
          <th>Attribute</th>
          <th>Example value</th>
        </tr>
        {% for colname, example in event_attributes %}
        {% csrf_token %}
        <tr>
        <label>
          <td><input checked type="checkbox" name="{{colname}}" value="{{colname}}"></td>
          {% comment %} Used to generate colname = value pairs when the form is submitted. 
          Only checked ones will give the value to the server. {% endcomment %}
          <td><span class="attr_name" value="{{colname}}">{{colname}}</span></td>
          <td>{{example}}</td>
        </label>
        </tr>
        {% endfor %}
        </table>
        </div>
        {% for colname, values in object_attributes %}
        {% csrf_token %}
        <div class="flex-vertical" id="{{colname}}" style="flex-basis: {{ column_width }}%;">
          <h2>{{colname}}</h2>
          <table>
          <tr>
          <th/>
          <th>Attribute</th>
          <th>Example value</th>
          </tr>
          {% for value,example in values %}
          <tr>
          <label>
          <td><input checked type="checkbox" name="{{colname}}" value="{{value}}"></td>   
          {% comment %} Used to generate colname = value pairs when the form is submitted. 
          Only checked ones will give the value to the server. {% endcomment %}
          <td><span class="attr_name" value="{{value}}">{{value}}</span></td>
          <td>{{example}}</td>
          </label>
          </tr>
          {% endfor %}
          </table>
          </div>
        {% endfor %}
        <div id="figure" style="flex-basis: 100%;">
        </div>
        <span>Name for filtered log:</span>
        <input type="text" name="name" value="{{event_log.name}}-filtered">
        <button type="submit">Create Cubes</button>
       
  </div>
  </form>
</body>
{% endblock %}