{% extends 'index/base.html' %}

<!DOCTYPE html>
<meta charset="utf-8" />
{% block head %}
<script>
  $(document).ready(function () {
    $( "#row-select,#column-select" ).change(function() {
      $("#table").load("http://127.0.0.1:8000/table/"+$( "#row-select option:selected" ).attr("value")+"/"+$( "#column-select option:selected" ).attr("value")+"?id={{event_log.id}}");
    });
  });
</script>

<style>
  .flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .flex-container > div {
    
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  </style>

{% endblock %}

{% block content  %}

<br/>
<div class="flex-container" style="justify-content: left;">
  <p><h4>Some summary statistics for the filtered log are provided below to compare with the original log:-</h4></p>
  <br/>
  <br/>
  <p><h6>1. The filtered log contains <b>{{num_events}}</b> events and <b>{{num_objects}} objects</b>.</h6></p>
  <p><h6>2. The filtered log is based on the attributes: {{selected_filters|join:","}} selections.</h6></p>
  {% comment %}
    <ul class="list-group list-group-horizontal-xxl">
      <li class="list-group-item">The original log contains {{num_events}} events.</li>
      <li class="list-group-item">The filtered log is based on the attributes: {{selected_filters|join:","}} selections.</li>
    </ul>
  {% endcomment %}
</div>

<br/>
<br/>
<p><h4>Select further filtering options below:- </h4></p>

{% comment %} Making separate flex container for the second filtering {% endcomment %}

<div class="flex-container" style="justify-content: center;">  
  <div class="row">
  {% comment %} <div class="btn-group">
    <h5>Materialization: </h5>
    <button class="btn btn-success dropdown-toggle" type="submit" id="materialization" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
      Select
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item dropdown-item-action" href="#">Existence</a></li>
    </ul>
  </div> {% endcomment %}
  <div class="col">
  <select class="form-select form-select-sm" name="materialization" id="materialization">
    <option value="existence">Existence</option>
  </select>
  </div>

    {% comment %} <div class="btn-group">
      <h5>Row: </h5>  
      <button class="btn btn-success dropdown-toggle" type="submit" id="row-select" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        {% for col in columns%}
          <li><a class="dropdown-item dropdown-item-action" href="#">{{col}}</a></li>
        {% endfor %}
      </ul>
    </div> {% endcomment %}
    <div class="col">
    <select class="form-select form-select-sm" name="row-select" id="row-select">
    {% for col in columns%}
      <option value="{{col}}">{{col}}</option>
    {% endfor %}
    </select>
    </div>

    {% comment %} <div class="btn-group">
      <h5>Column: </h5> 
      <button class="btn btn-success dropdown-toggle" type="submit" id="column-select" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        {% for col in columns%}
          <li><a class="dropdown-item dropdown-item-action" href="#">{{col}}</a></li>
        {% endfor %}
      </ul>
    </div> {% endcomment %}
  <div class="col">
  <select class="form-select form-select-sm" name="column-select" id="column-select">
  {% for col in columns%}
    <option value="{{col}}">{{col}}</option>
  {% endfor %}
  </select>
  </div>
</div>
</div>

{% comment %} <p>The log contains {{num_objects}} objects</p> {% endcomment %}
<div id="table">
</div>
{% endblock %}
