{% extends 'index/base.html' %}


<!DOCTYPE html>
<meta charset="utf-8">
{% block head %}
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("#figure").load("http://127.0.0.1:8000/plots/event_price");
    //$('#figure').html($.parseHTML(decodeURI(load("http://127.0.0.1:8000/plots/event_price"))));
  });
});
</script>
{% endblock %}

{% block content  %}
<div class="flex" style="justify-content: center;">
<p>The original log contains {{num_events}} events.</p><br/>
<p>The filtered log contains {{filtered_events}} events.</p>
<button>Click me to hide paragraphs</button>
<div id="figure">
</div>
{% comment %} <p>The log contains {{num_objects}} objects</p> {% endcomment %}
</div>
{% endblock %}