{% extends 'index/base.html' %}


<!DOCTYPE html>
<meta charset="utf-8">

<head></head>

<body>
  {% block content  %}

  <div class="row" style="margin-top: 1%;margin-left: 3%;margin-right: 3%;">
    <div class="columnSecondDiv" style="background-color:lightgray;">
      <p>table 1</p>
      <form action="{% url 'iris' %}" method="get">
        {% csrf_token %}
        <button type="submit" name='btn_iris' value={{excel_path}}>Show Iris dataset</button>
      </form>
      <form action="{% url 'tips' %}" method="get">
        {% csrf_token %}
        <button type="submit" name='btn_tips' value={{excel_path}}>Show Tips dataset</button>
      </form>
      {% autoescape off %}
      {{ plot_div }}
      {% endautoescape %}
    </div>
    <div class="columnButton" style="background-color:#F3F3F3;">
      <p>buttons</p>
    </div>
    <div class="columnSecondDiv" style="background-color:lightgray;">
      <p>table 2</p>
    </div>
  </div>
</body>
{% endblock %}