{% extends 'index/base.html' %}

{% load static %}

{% block head %}
<script>
$(document).ready(function () {
   $("#table tr").click(function(){
   $(this).addClass('selected').siblings().removeClass('selected'); 
   $("#submit").attr("value",($("#table tr.selected td:first").attr("value")));
});
});
</script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
<br/>
<br/>
<p class="text-start"><h4>Start by selecting an uploaded event log or by uploading a new one using the button below:</h4></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="input-group mb-3">
  {% comment %}  <label for="formFile" class="form-label">Start by selecting an uploaded event log or by uploading a new one using the button below:</label> {% endcomment %}
    <input class="form-control form-control-sm" type="file" id="myfile" name="myfile" placeholder="Upload an OCEL event log" required>
  </div>

  <button class="btn btn-outline-success" type="submit">Upload</button>
</form>

{% if uploaded_file_url %}
<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

<div class="flex-vertical">
<p class="text-start"><h4>Uploaded Event logs:-</h4></p>
<table class="table table-hover caption-top table-sm" id="table">
 {% comment %} <caption >Uploaded Event logs:-</caption> {% endcomment %}
 <thead class="table-dark">
   <tr>
     <th>Log name</th>
     <th>Log path</th>
     <th>Log size on disk</th>
   </tr>
 </thead>
{% for event_log in event_logs%}
<tr>
<td hidden name="log_id" value="{{event_log.id}}"></td>
<td>{{event_log.name}}</td>
<td>{{event_log.file.url}}</td>
<td>{{event_log.file.size|filesizeformat}}</td>
</tr>
{% endfor%}
</table>
</div>


<form method="get", action="{% url 'filtering' %}">
  <p><button class="btn btn-outline-success" type="submit" id="submit" name="id" value="OK">Submit</button></p>
  
</form>
{% endblock %}