div {
    text-align: center;
}

.button {
    background-color: #908fcc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    width: 150px;
}

.button1:hover {
    background-color: #4c4ab4;
    color: white;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */

.columnFirstDiv {
    float: left;
    width: 30%;
    padding: 10px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}

.columnButton1 {
    float: left;
    width: 10%;
    padding: 10px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}

.columnSecondDiv {
    float: left;
    width: 40%;
    padding: 10px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}

.columnButton {
    float: left;
    width: 20%;
    padding: 10px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}

.columnDFG {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    /* Should be removed. Only for demonstration */
    margin-top: 1%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0px;
    padding: 0px;
}

table {
    border-spacing: 0px;
}

td{
    padding: 5px;
}

.attr_name {
    cursor: pointer;
}

.selected {
    background-color: #198754;;
    color: #FFF;
}