{% load static %}
<body>
    <input type="hidden" name="row" value="{{row}}" />
    <input type="hidden" name="column" value="{{column}}" />
    <input type="hidden" name="id" value="{{log_id}}" />
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th />
            {% for column_label in column_labels %}
            <th scope="col">{{column_label}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row_label,items in rows %}
          <tr>
            <th scope="row">{{row_label}}</th>
            {% for item in items %}
            <td>
              <input
                class="form-check-input me-1"
                type="checkbox"
                name="'{{row_label}}'_'{{item}}'"
              />
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
      
</body>
