{% extends 'index/base.html' %} {% load static %}

<!DOCTYPE html>
<meta charset="utf-8" />
{% block head%}
<script src="{% static 'index/interactive.js' %}"></script>
<script>
  register_vis_buttons("",{{event_log.id}})
  register_histogram("",{{event_log.id}})
  set_navbar_active("#nav-visualization")
</script>
{% endblock %} {% block content %}
<script>
  $(document).ready(function () {
  $('.nav-tabs li button').click(function (e) {     
    e.preventDefault()
    //get selected href
    var href = $(this).attr('href');    
    
    //set all nav tabs to inactive
    $('.nav-tabs button').removeClass('active');
    
    //get all nav tabs matching the href and set to active
    $('.nav-tabs button[href="'+href+'"]').addClass('active');
    //active tab
    $('.tab-pane').removeClass('show active');
    $('.tab-pane'+href).addClass('show active');
})
});
</script>

<div class="container-fluid" style="text-align: left">
  <h3 class="mt-4" style="color: #00529f">Event Log Info</h3>
<br />
  <div class="row justify-content-start">
    <br />
    <input type="hidden" name="id" value="{{event_log.id}}">
    <p>
      This log contains {{num_events}} events. <br />
      {% if event_log.cell_filter%}
        The chosen filters were {{event_log.cell_filter}}
      {% endif %}
    </p>
  </div>
  <br />
</div>

<div
  class="d-flex flex-wrap flex-row align-self-start p-2"
  style="
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
  "
>
  <div
    class="d-flex flex-column justify-content-start p-2"
    style="flex-basis: {{ column_width }}%;"
  >
    <h3>Event level attributes</h3>
    <table class="table table-hover table-sm">
      <thead class="table-dark">
        <th>Attribute</th>
        <th>Example value</th>
      </thead>
      {% for colname, example in event_attributes %}
      <tr>
        <label>
          <td>
            <span class="attr_name" value="{{colname}}">{{colname}}</span>
          </td>
          <td>{{example}}</td>
        </label>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% for colname, values in object_attributes %}
  <div
    class="d-flex flex-column justify-content-start p-2"
    style="flex-basis: {{ column_width }}%;"
  >
    <h2>{{colname}}</h2>
    <table class="table table-hover table-sm">
      <thead class="table-dark">
        <th>Attribute</th>
        <th>Example value</th>
      </thead>
      {% for value,example in values %}
      <tr>
        <td><span class="attr_name" value="{{value}}">{{value}}</span></td>
        <td>{{example}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>
<div id="figure" style="flex-basis: 100%"></div>
<br />

<!-- Visualization Displays-->
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="nav-dfg"
        _data-bs-toggle="tab"
        _data-bs-target="#div-dfg"
        href="#div-dfg"
        type="button"
        role="tab"
        aria-controls="dfg"
        aria-selected="true"
      >
        DFGs
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="nav-petri"
        _data-bs-toggle="tab"
        _data-bs-target="#div-petri"
        href="#div-petri"
        type="button"
        role="tab"
        aria-controls="petri"
        aria-selected="false"
      >
        Petri Nets
      </button>
    </li>
  </ul>

<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="div-dfg"
    role="tabpanel"
    aria-labelledby="nav-dfg"
  >
  <form id="form-dfg" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="hidden" id="image-name" name="image-name" value="dfg.png">
    <div
      class="d-flex flex-row p-2 align-items-center"
      style="
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
      "
    >
      <label for="customRange2" class="form-label p-2"
        >Minimum Edge Frequency:</label
      >
      <span class="p-2">0</span>
      <input
        type="range"
        class="form-range p-2"
        min="0"
        max="1000"
        id="range-edge-freq"
      />
      <span class="p-2">1000</span>
    </div>
    <div
    class="d-flex flex-row p-2 align-items-center"
    style="
      margin-top: 1%;
      margin-left: 3%;
      margin-right: 3%;
      justify-content: center;
    "
  >
    
      <label for="customRange2" class="form-label p-2"
        >Minimum Activity Frequency:</label
      >
      <span class="p-2">0</span>
      <input
        type="range"
        class="form-range p-2"
        min="0"
        max="1000"
        id="range-act-freq"
      />
      <span class="p-2">1000</span>
    </div>
    <div
      class="d-flex flex-column p-2 align-items-center"
      style="
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
      "
    >
      <div class="flex-row">
        <button class="btn btn-primary" type="button" id="btn-dfg-freq">
          Display Frequency DFG
        </button>
        <button
          class="btn btn-primary"
          type="button"
          id="btn-dfg-freq-loading"
          style="display: none !important"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        <button class="btn btn-primary" type="button" id="btn-dfg-perf">
          Display Performance DFG
        </button>
        <button
          class="btn btn-primary"
          type="button"
          id="btn-dfg-perf-loading"
          style="display: none !important"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
      <div id="dfg" style="flex-basis: 100%"></div>
      <input
            style="float: right; margin-top: 10px"
            type="submit"
            class="btn btn-info btn-download"
            name="download"
            value="Download"/>
  </form>
    </div>
    </div>
    <div
      class="tab-pane fade"
      id="div-petri"
      role="tabpanel"
      aria-labelledby="nav-petri"
    >
    <form id="form-petri" method="post" enctype="multipart/form-data" action="">
      {% csrf_token %}
    <input type="hidden" id="image-name" name="image-name" value="petri.svg">
    <div
      class="d-flex flex-row p-2 align-items-center"
      style="
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
      "
    >
      <label for="customRange2" class="form-label p-2"
        >Minimum Edge Frequency:</label
      >
      <span class="p-2">0</span>
      <input
        type="range"
        class="form-range p-2"
        min="0"
        max="1000"
        id="range-edge-freq"
      />
      <span class="p-2">1000</span>
    </div>
    <div
    class="d-flex flex-row p-2 align-items-center"
    style="
      margin-top: 1%;
      margin-left: 3%;
      margin-right: 3%;
      justify-content: center;
    "
  >
    
      <label for="customRange2" class="form-label p-2"
        >Minimum Activity Frequency:</label
      >
      <span class="p-2">0</span>
      <input
        type="range"
        class="form-range p-2"
        min="0"
        max="1000"
        id="range-act-freq"
      />
      <span class="p-2">1000</span>
    </div>
    <div
      class="d-flex flex-column p-2 align-items-center"
      style="
        margin-top: 1%;
        margin-left: 3%;
        margin-right: 3%;
        justify-content: center;
      "
    >
      <div class="flex-row">
        <button class="btn btn-primary" type="button" id="btn-petri">
          Display Petri Net
        </button>
        <button
          class="btn btn-primary"
          type="button"
          id="btn-petri-loading"
          style="display: none !important"
          disabled
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    <div id="petri" style="flex-basis: 100%"></div>
    <input
    style="float: right; margin-top: 10px"
    type="submit"
    class="btn btn-info btn-download"
    name="download"
    value="Download"/>
  </form>
  </div>
  </div>
</div>
</div>


{% endblock %}
