{% extends 'index/base.html' %}


<!DOCTYPE html>
<meta charset="utf-8">
{% block head %}
<script>
  $(document).ready(function () {
    $("#button").click(function () {
      $("#figure").load("http://127.0.0.1:8000/plots/"+$(this).attr("value"));
    });
  });
</script>
{% endblock %}

{% block content  %}
<div class="vertical-flex" style="justify-content: center;">
  <p>The original log contains {{num_events}} events.</p><br/>
  <p>The filtered log contains {{num_events_filtered}} events.</p><br/>
  <p>The chosen filters were {{filters|join:","}}</p>
</div>
{% endblock %}